<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <queries>
        <package android:name="com.tailscale.ipn" />
        <package android:name="com.wireguard.android" />
    </queries>

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="com.wireguard.android.permission.CONTROL_TUNNELS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_CONNECTED_DEVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:name="app.michaelwuensch.bitbanana.baseClasses.App"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:launchMode="singleInstance"
        android:localeConfig="@xml/locales_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <!-- Foreground Service -->
        <service
            android:name=".connection.ConnectionKeepAliveService"
            android:exported="false"
            android:foregroundServiceType="connectedDevice|dataSync" />

        <service
            android:name="androidx.appcompat.app.AppLocalesMetadataHolderService"
            android:enabled="false"
            android:exported="false">
            <meta-data
                android:name="autoStoreLocales"
                android:value="true" />
        </service>

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <meta-data
                android:name="io.matthewnelson.kmp.tor.runtime.service.TorServiceConfig$Initializer"
                android:value="androidx.startup" />
        </provider>
        <service
            android:name="io.matthewnelson.kmp.tor.runtime.service.TorService"
            android:enabled="true"
            android:exported="false" />

        <activity-alias
            android:name=".LauncherActivity"
            android:enabled="true"
            android:exported="true"
            android:label="@string/app_name"
            android:targetActivity="app.michaelwuensch.bitbanana.LauncherActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity
            android:name="app.michaelwuensch.bitbanana.LauncherActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:noHistory="true"
            android:screenOrientation="portrait">
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <!-- bitcoin and lightning uri scheme -->
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="bitcoin" />
                <data android:scheme="lightning" />
                <data android:scheme="lndconnect" />
                <data android:scheme="lnurlc" />
                <data android:scheme="lnurlp" />
                <data android:scheme="lnurlw" />
                <data android:scheme="keyauth" />
                <data android:scheme="clngrpc" />
                <data android:scheme="lndhub" />
                <data android:scheme="nostr+walletconnect" />
            </intent-filter>
            <intent-filter>

                <!-- Enables BitBanana to be started from NFC Tags containing a bitcoin or lightning uri -->
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="bitcoin" />
                <data android:scheme="lightning" />
                <data android:scheme="lndconnect" />
                <data android:scheme="lnurlc" />
                <data android:scheme="lnurlp" />
                <data android:scheme="lnurlw" />
                <data android:scheme="keyauth" />
                <data android:scheme="clngrpc" />
                <data android:scheme="lndhub" />
                <data android:scheme="nostr+walletconnect" />
            </intent-filter>
        </activity>

        <activity-alias
            android:name=".decoyApps.CalcActivity"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_calc"
            android:label="Calculator"
            android:roundIcon="@mipmap/ic_launcher_calc_round"
            android:targetActivity=".decoyApps.CalcActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity
            android:name="app.michaelwuensch.bitbanana.LandingActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="app.michaelwuensch.bitbanana.home.HomeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="app.michaelwuensch.bitbanana.home.ScanActivity"
            android:label="@string/scan"
            android:screenOrientation="portrait"
            android:theme="@style/AppOverlayTheme" />
        <activity
            android:name="app.michaelwuensch.bitbanana.home.ManualSendScanActivity"
            android:label="@string/scan"
            android:screenOrientation="portrait"
            android:theme="@style/AppOverlayTheme" />
        <activity
            android:name="app.michaelwuensch.bitbanana.GeneratedRequestActivity"
            android:label="@string/activity_receive"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeWithActionBar" />
        <activity
            android:name="app.michaelwuensch.bitbanana.appLock.PinSetupActivity"
            android:label="Setup"
            android:screenOrientation="portrait" />
        <activity
            android:name="app.michaelwuensch.bitbanana.appLock.PasswordSetupActivity"
            android:label="Setup"
            android:screenOrientation="portrait" />
        <activity
            android:name="app.michaelwuensch.bitbanana.setup.ConnectRemoteNodeActivity"
            android:label="@string/activity_connectRemoteNode"
            android:screenOrientation="portrait"
            android:theme="@style/AppOverlayTheme" />
        <activity
            android:name="app.michaelwuensch.bitbanana.appLock.PinEntryActivity"
            android:label="PIN"
            android:screenOrientation="portrait" />
        <activity
            android:name="app.michaelwuensch.bitbanana.appLock.PasswordEntryActivity"
            android:label="PIN"
            android:screenOrientation="portrait" />
        <activity
            android:name="app.michaelwuensch.bitbanana.listViews.channels.ManageChannelsActivity"
            android:label="@string/activity_manage_channels"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeWithActionBar" />
        <activity
            android:name="app.michaelwuensch.bitbanana.listViews.paymentRoute.PaymentRouteActivity"
            android:label="@string/activity_payment_route"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeWithActionBar" />
        <activity
            android:name="app.michaelwuensch.bitbanana.listViews.backendConfigs.ManageBackendConfigsActivity"
            android:label="@string/activity_manage_nodes"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeWithActionBar" />
        <activity
            android:name="app.michaelwuensch.bitbanana.settings.SettingsActivity"
            android:label="@string/navigation_settings"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeWithActionBar" />
        <activity
            android:name="app.michaelwuensch.bitbanana.settings.SettingsCurrenciesActivity"
            android:label="@string/currencies"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeWithActionBar" />
        <activity
            android:name="app.michaelwuensch.bitbanana.settings.AdvancedSettingsActivity"
            android:label="@string/activity_advanced_settings"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeWithActionBar" />
        <activity
            android:name="app.michaelwuensch.bitbanana.settings.SettingsAppLockActivity"
            android:label="@string/settings_app_lock"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeWithActionBar" />
        <activity
            android:name="app.michaelwuensch.bitbanana.settings.SettingsPayerDataActivity"
            android:label="@string/settings_payer_data"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeWithActionBar" />
        <activity
            android:name="app.michaelwuensch.bitbanana.settings.SettingsFeaturesActivity"
            android:label="@string/settings_features"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeWithActionBar" />
        <activity
            android:name="app.michaelwuensch.bitbanana.settings.SettingsDecoyAppsActivity"
            android:label="@string/settings_stealth_mode"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeWithActionBar" />
        <activity
            android:name="app.michaelwuensch.bitbanana.settings.SettingsCustomBlockExplorerActivity"
            android:label="@string/settings_custom_block_explorer"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeWithActionBar" />
        <activity
            android:name="app.michaelwuensch.bitbanana.settings.SettingsCustomExchangeRateProviderActivity"
            android:label="@string/settings_custom_exchange_rate_provider"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeWithActionBar" />
        <activity
            android:name="app.michaelwuensch.bitbanana.settings.SettingsCustomFeeEstimationProviderActivity"
            android:label="@string/settings_custom_fee_estimation_provider"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeWithActionBar" />
        <activity
            android:name="app.michaelwuensch.bitbanana.support.SupportActivity"
            android:label="@string/support"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeWithActionBar" />
        <activity
            android:name="app.michaelwuensch.bitbanana.listViews.channels.ScanNodePubKeyActivity"
            android:label="@string/channel_open"
            android:screenOrientation="portrait" />
        <activity
            android:name="app.michaelwuensch.bitbanana.IdentityActivity"
            android:label="@string/activity_identity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeWithActionBar" />
        <activity
            android:name="app.michaelwuensch.bitbanana.OwnWatchtowerActivity"
            android:label="@string/activity_watchtower"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeWithActionBar" />
        <activity
            android:name="app.michaelwuensch.bitbanana.listViews.watchtowerSessions.WatchtowerDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeWithActionBar" />
        <activity
            android:name="app.michaelwuensch.bitbanana.listViews.backendConfigs.itemDetails.BackendConfigDetailsActivity"
            android:label="@string/activity_node_details"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeWithActionBar"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name="app.michaelwuensch.bitbanana.listViews.contacts.ScanContactActivity"
            android:label="@string/add_contact"
            android:screenOrientation="portrait" />
        <activity
            android:name="app.michaelwuensch.bitbanana.listViews.contacts.ManualAddContactActivity"
            android:label="@string/add_contact"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeWithActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="app.michaelwuensch.bitbanana.listViews.contacts.ManageContactsActivity"
            android:label="@string/activity_manage_contacts"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeWithActionBar" />
        <activity
            android:name="app.michaelwuensch.bitbanana.listViews.contacts.itemDetails.ContactDetailsActivity"
            android:label="@string/activity_contact_details"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeWithActionBar"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name="app.michaelwuensch.bitbanana.listViews.licenses.LicensesActivity"
            android:label="@string/third_party_licenses"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeWithActionBar" />
        <activity
            android:name="app.michaelwuensch.bitbanana.setup.ManualSetup"
            android:label="@string/activity_manual_setup"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeWithActionBar"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name="app.michaelwuensch.bitbanana.listViews.transactionHistory.HistoryFilterActivity"
            android:label="@string/filter_transactions"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeWithActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="app.michaelwuensch.bitbanana.setup.QuickReceiveSetup"
            android:label="@string/activity_quick_receive_setup"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeWithActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="app.michaelwuensch.bitbanana.listViews.channels.itemDetails.AdvancedChannelDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeWithActionBar" />
        <activity
            android:name="app.michaelwuensch.bitbanana.backup.BackupActivity"
            android:label="@string/activity_backup"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeWithActionBar" />
        <activity
            android:name="app.michaelwuensch.bitbanana.listViews.utxos.UTXOsActivity"
            android:label="@string/activity_utxos"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeWithActionBar" />
        <activity
            android:name="app.michaelwuensch.bitbanana.listViews.bolt12offers.Bolt12OffersActivity"
            android:label="@string/activity_bolt12_offers"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeWithActionBar" />
        <activity
            android:name="app.michaelwuensch.bitbanana.listViews.bolt12offers.CreateBolt12OfferActivity"
            android:label="@string/activity_bolt12_create_offer"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeWithActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="app.michaelwuensch.bitbanana.listViews.utxos.ConsolidateUTXOsActivity"
            android:label="@string/consolidate_utxos"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeWithActionBar" />
        <activity
            android:name="app.michaelwuensch.bitbanana.listViews.bolt12offers.Bolt12QRActivity"
            android:label="@string/bolt12_offer"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeWithActionBar" />
        <activity
            android:name="app.michaelwuensch.bitbanana.listViews.bolt12offers.itemDetails.Bolt12OfferDetailsActivity"
            android:label="@string/bolt12_offer"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeWithActionBar" />
        <activity
            android:name="app.michaelwuensch.bitbanana.listViews.forwardings.ForwardingActivity"
            android:label="@string/activity_forwarding"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeWithActionBar" />
        <activity
            android:name="app.michaelwuensch.bitbanana.listViews.peers.PeersActivity"
            android:label="@string/activity_peers"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeWithActionBar" />
        <activity
            android:name="app.michaelwuensch.bitbanana.listViews.logs.LogsActivity"
            android:label="@string/logs"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeWithActionBar" />
        <activity
            android:name="app.michaelwuensch.bitbanana.listViews.peers.ScanPeerActivity"
            android:label="@string/peers_add"
            android:screenOrientation="portrait" />
        <activity
            android:name="app.michaelwuensch.bitbanana.listViews.watchtowers.WatchtowersActivity"
            android:label="@string/activity_watchtowers"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeWithActionBar" />
        <activity
            android:name="app.michaelwuensch.bitbanana.listViews.watchtowers.ScanWatchtowerActivity"
            android:label="@string/watchtower_add"
            android:screenOrientation="portrait" />
        <activity
            android:name="app.michaelwuensch.bitbanana.signVerify.SignVerifyActivity"
            android:label="@string/sign_verify"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeWithActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="app.michaelwuensch.bitbanana.liveTests.LiveTestingActivity"
            android:label="Live Tests"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeWithActionBar" />
        <activity
            android:name="app.michaelwuensch.bitbanana.listViews.channels.UpdateRoutingPolicyActivity"
            android:label="@string/activity_routing_policy"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeWithActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="app.michaelwuensch.bitbanana.listViews.peers.itemDetails.PeerDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeWithActionBar" />
        <activity
            android:name="app.michaelwuensch.bitbanana.listViews.channels.RebalanceActivity"
            android:label="@string/rebalance"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeWithActionBar" />
        <activity
            android:name=".decoyApps.CalcActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="app.michaelwuensch.bitbanana.labels.LabelActivity"
            android:label="@string/label_add"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeWithActionBar"
            android:windowSoftInputMode="adjustResize" />

        <meta-data
            android:name="android.nfc.disable_beam_default"
            android:value="true" />
    </application>

</manifest>