<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.NFC" />

    <application
        android:name="app.michaelwuensch.bitbanana.baseClasses.App"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:launchMode="singleInstance"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="app.michaelwuensch.bitbanana.LandingActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:noHistory="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <!-- bitcoin and lightning uri scheme -->
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="bitcoin" />
                <data android:scheme="lightning" />
                <data android:scheme="lndconnect" />
                <data android:scheme="lnurlc" />
                <data android:scheme="lnurlp" />
                <data android:scheme="lnurlw" />
            </intent-filter>
            <intent-filter>

                <!-- Enables BitBanana to be started from NFC Tags containing a bitcoin or lightning uri -->
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="bitcoin" />
                <data android:scheme="lightning" />
                <data android:scheme="lndconnect" />
                <data android:scheme="lnurlc" />
                <data android:scheme="lnurlp" />
                <data android:scheme="lnurlw" />
            </intent-filter>
        </activity>
        <activity
            android:name="app.michaelwuensch.bitbanana.HomeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="app.michaelwuensch.bitbanana.ScanActivity"
            android:label="@string/scan"
            android:screenOrientation="portrait"
            android:theme="@style/AppOverlayTheme" />
        <activity
            android:name="app.michaelwuensch.bitbanana.GeneratedRequestActivity"
            android:label="@string/activity_receive"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeWithActionBar" />
        <activity
            android:name="app.michaelwuensch.bitbanana.setup.SetupActivity"
            android:label="Setup"
            android:screenOrientation="portrait" />
        <activity
            android:name="app.michaelwuensch.bitbanana.pin.PinSetupActivity"
            android:label="Setup"
            android:screenOrientation="portrait" />
        <activity
            android:name="app.michaelwuensch.bitbanana.setup.ConnectRemoteNodeActivity"
            android:label="@string/activity_connectRemoteNode"
            android:screenOrientation="portrait"
            android:theme="@style/AppOverlayTheme" />
        <activity
            android:name="app.michaelwuensch.bitbanana.pin.PinEntryActivity"
            android:label="PIN"
            android:screenOrientation="portrait" />
        <activity
            android:name="app.michaelwuensch.bitbanana.channelManagement.ManageChannelsActivity"
            android:label="@string/activity_manage_channels"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeWithActionBar" />
        <activity
            android:name="app.michaelwuensch.bitbanana.nodesManagement.ManageNodesActivity"
            android:label="@string/activity_manage_nodes"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeWithActionBar" />
        <activity
            android:name="app.michaelwuensch.bitbanana.settings.SettingsActivity"
            android:label="@string/navigation_settings"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeWithActionBar" />
        <activity
            android:name="app.michaelwuensch.bitbanana.settings.AdvancedSettingsActivity"
            android:label="@string/activity_advanced_settings"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeWithActionBar" />
        <activity
            android:name="app.michaelwuensch.bitbanana.settings.SettingsFeePresetsActivity"
            android:label="@string/settings_onChainFeePresets"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeWithActionBar" />
        <activity
            android:name="app.michaelwuensch.bitbanana.settings.SettingsPayerDataActivity"
            android:label="@string/settings_payer_data"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeWithActionBar" />
        <activity
            android:name="app.michaelwuensch.bitbanana.SupportActivity"
            android:label="@string/support"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeWithActionBar" />
        <activity
            android:name="app.michaelwuensch.bitbanana.channelManagement.ScanNodePubKeyActivity"
            android:label="@string/channel_open"
            android:screenOrientation="portrait" />
        <activity
            android:name="app.michaelwuensch.bitbanana.IdentityActivity"
            android:label="@string/activity_identity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeWithActionBar" />
        <activity
            android:name="app.michaelwuensch.bitbanana.nodesManagement.NodeDetailsActivity"
            android:label="@string/activity_node_details"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeWithActionBar" />
        <activity
            android:name="app.michaelwuensch.bitbanana.contacts.ScanContactActivity"
            android:label="@string/add_contact"
            android:screenOrientation="portrait" />
        <activity
            android:name="app.michaelwuensch.bitbanana.contacts.ManualAddContactActivity"
            android:label="@string/add_contact"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeWithActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="app.michaelwuensch.bitbanana.contacts.ManageContactsActivity"
            android:label="@string/activity_manage_contacts"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeWithActionBar" />
        <activity
            android:name="app.michaelwuensch.bitbanana.contacts.ContactDetailsActivity"
            android:label="@string/activity_contact_details"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeWithActionBar" />
        <activity
            android:name="app.michaelwuensch.bitbanana.licenses.LicensesActivity"
            android:label="@string/third_party_licenses"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeWithActionBar" />
        <activity
            android:name="app.michaelwuensch.bitbanana.setup.ManualSetup"
            android:label="@string/activity_manual_setup"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeWithActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="app.michaelwuensch.bitbanana.channelManagement.AdvancedChannelDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeWithActionBar" />
        <activity
            android:name="app.michaelwuensch.bitbanana.backup.BackupActivity"
            android:label="@string/activity_backup"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeWithActionBar" />
        <activity
            android:name="app.michaelwuensch.bitbanana.coinControl.UTXOsActivity"
            android:label="@string/activity_utxos"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeWithActionBar" />
        <activity
            android:name="app.michaelwuensch.bitbanana.forwarding.ForwardingActivity"
            android:label="@string/activity_forwarding"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeWithActionBar" />
        <activity
            android:name="app.michaelwuensch.bitbanana.signVerify.SignVerifyActivity"
            android:label="@string/sign_verify"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeWithActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="app.michaelwuensch.bitbanana.liveTests.LiveTestingActivity"
            android:label="Live Tests"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeWithActionBar" />

        <meta-data
            android:name="android.nfc.disable_beam_default"
            android:value="true" />
    </application>

</manifest>